<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class=" ng-scope ng-binding" ng-controller="RICController as ctrl">
                    <!--<div ng-hide="desenhando || imagemEnviada">-->
                        <!--<img ng-src="{{imagem.caminho}}" id="blah" style="width: {{imagem.width}}px; height: {{imagem.height}}px"/>-->
                    <!--</div>-->
                    <!--Div do desenho-->
                    <div >
                        <div version="ctrl.version" pw-canvas
                             options="{undo: true,
                          color: corSelecionada,
                          width: imagem.width, height: imagem.height,
                         lineWidth: tamanhoLinha,
                         imageSrc: imagem.caminho
                            }" ng-model="desenho">
                        </div>
                        <div pw-color-selector="selectcolors" color="corSelecionada"></div>
                        <div>
                            <input colorpicker ng-model="hexColor" placeholder="Cor Hexadecimal" type="text"/>
                            <button ng-click="adicionarCor();" ng-disabled="!hexColor">Adicionar cor</button>
                        </div>
                        <div><label for="tamanho">Tamanho da linha: {{tamanhoLinha}}</label>
                            <input type="range" id="tamanho" ng-model="tamanhoLinha" max="50">
                        </div>
                        <div class="undo">
                            <button ng-click="ctrl.undo()"
                                    ng-disabled="ctrl.version < 1">Desfazer (Versão {{ctrl.version}})
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-info" ng-click="fazerDownload()" id="btn-download">Download</a>
                        </div>
                    </div>
                    <div class="desenhar" >
                        <button ng-click="desenhando = true;">Desenhar Imagem</button>
                    </div>
                    <div class="enviarImg">
                        <input ng-click="imagemEnviada = true;" type='file' id="imgEnv" accept="image/*"/>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
