<div ng-cloak>
    <div class="row">
        <div class=" ng-scope ng-binding" ng-controller="RICController as ctrl" ng-init="iniciar()">
            <div class="col-md-12 " >
                <div class="col-md-8 imagemPrincipal">
                    <div>
                        <input class="btn btn-primary" type='file' id="imgEnv" accept="image/*"/>
                        <div class="voffset2" version="ctrl.version" pw-canvas
                             options="{undo: true,
                          color: corSelecionada,
                          width: imagem.width, height: imagem.height,
                         lineWidth: tamanhoLinha,
                         imageSrc: imagem.caminho
                            }" ng-model="desenho">
                        </div>
                        <div pw-color-selector="selectcolors" color="corSelecionada"></div>
                        <div>
                            <input colorpicker ng-model="hexColor" placeholder="Cor Hexadecimal" type="text"/>
                            <button class="btn btn-primary" ng-click="adicionarCor();" ng-disabled="!hexColor">Adicionar
                                cor
                            </button>
                            <button class="btn btn-primary" ng-click="ctrl.undo()" ng-disabled="ctrl.version < 1">
                                Desfazer desenho (Versão {{ctrl.version}})
                            </button>
                            <a class="btn btn-primary" ng-click="fazerDownload()" id="btn-download">Download</a>
                        </div>
                        <div class="voffset2">
                            <label for="tamanho">Tamanho da linha: {{tamanhoLinha}}</label>
                            <input class="form-control" type="range" id="tamanho" ng-model="tamanhoLinha" max="100">
                        </div>
                        <div class="voffset2" ng-show="imagemFiltrada != null">
                            <label for="filtro">Filtro de Pré-Processamento:</label>
                            </br>
                            <img id="filtro" height="{{ imagemFiltrada.height }}" ng-src="{{ imagemFiltrada.caminho }}" alt="{{ imagemFiltrada.nome }}"/>
                        </div>
                    </div>

                    <!-- MODAIS -->
                    <div id="graficos" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-info text-center">{{modalTitulo}}</h4>
                                </div>
                                <div class="modal-body">
                                    <button ng-click="salvarEFiltro(1,selectedImagem.nome)" class="btn btn-primary button-left2" type="button">Filtro Média</button>
                                    <button ng-click="salvarEFiltro(2,selectedImagem.nome)" class="btn btn-primary button-left2" type="button">Filtro Mediana</button>
                                    <button ng-click="salvarEFiltro(3,selectedImagem.nome)" class="btn btn-primary button-left2" type="button">Filtro Máximo</button>
                                    <button ng-click="salvarEFiltro(4,selectedImagem.nome)" class="btn btn-primary button-left2" type="button">Filtro Mínimo</button>


                                    <br/>
                                    <div class="voffset2" ng-show="imagemFiltrada != null">
                                        <label>Filtro de Pré-Processamento:</label>
                                        </br>
                                        <img height="{{ imagemFiltrada.height }}" ng-src="{{ imagemFiltrada.caminho }}" alt="{{ imagemFiltrada.nome }}"/>
                                    </div>
                                    <label>Histograma RGB
                                    <nvd3 options='options' data='dataRGB'></nvd3></label>
                                    <label>Histograma HSV
                                    <nvd3 options='options' data='dataHSV'></nvd3></label>
                                    <label>Histograma YUV
                                    <nvd3 options='options' data='dataYUV'></nvd3></label>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="graficosModais" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-info text-center">Imagem: {{selectedImagem.nome}}</h4>
                                </div>
                                <div class="modal-body">
                                    <img height="300" ng-src="{{ selectedImagem.caminho }}"
                                         alt="{{ selectedImagem.nome }}"/>
                                    <nvd3 options='optionsCinza' data='dataCinza'></nvd3>
                                    <nvd3 options='optionsPrecisao' data='dataPrecisao'></nvd3>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="col-md-10 btn-group-vertical btn-left">
                        <button ng-click="visualizarImagem('principal')" class="btn btn-primary button-left2" type="button">Histogramas
                            da Imagem
                        </button>
                        <button ng-click="precisaoRevocacao()" class="btn btn-primary button-left2" type="button">
                            Grafico
                            Precisão x Revocacão
                        </button>
                        <label>Normalizar:
                            <input type="checkbox" ng-model="normalizar">
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="distancia" value="1">
                            Manhattan
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="distancia" value="2">
                            Euclidiana
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="distancia" value="3">
                            Xadrez
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="distancia" value="4">
                            Coseno
                        </label>
                        <button ng-click="calcDist()" class="btn btn-primary button-left2" type="button">Calcular Distancia
                        </button>
                        <label>
                            Selecione o filtro:
                        </label>
                        <select class="form-control" id="foiltr"
                                ng-model="selectedFiltroImagem"
                                ng-options="filtro as filtro.filtro for filtro in filtroImagem"></select><br>
                        <input type="number"
                               class="form-control"
                               id="variaveisFiltros"
                               ng-model="variaveisFiltros"
                               placeholder="Valor RGB. A média é -8388608"
                               ng-show="selectedFiltroImagem.valor == 5"
                               max="-1"
                        />
                        <button ng-click="salvarEFiltro('principal')" class="btn btn-primary button-left2" type="button" ng-show="selectedFiltroImagem.valor != null">Ok</button>

                        <!--<button ng-click="salvarEFiltro(1,'principal')" class="btn btn-primary button-left2" type="button">Filtro Média</button>-->
                        <!--<button ng-click="salvarEFiltro(2,'principal')" class="btn btn-primary button-left2" type="button">Filtro Mediana</button>-->
                        <!--<button ng-click="salvarEFiltro(3,'principal')" class="btn btn-primary button-left2" type="button">Filtro Máximo</button>-->
                        <!--<button ng-click="salvarEFiltro(4,'principal')" class="btn btn-primary button-left2" type="button">Filtro Mínimo</button>-->
                        <!--<button ng-click="salvarEFiltro(5,'principal')" class="btn btn-primary button-left2" type="button">Transformada Binarizacão</button>-->


                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="voffset2">
                    <label for="numeroImagens">Selecione o número de imagens a serem visualizadas:</label>
                    <select class="form-control" id="numeroImagens" ng-init="selectedFiltro = filtroRolagem[0]"
                            ng-model="selectedFiltro"
                            ng-options="filtro as filtro.valor for filtro in filtroRolagem"></select>
                </div>
                <div class="rolagemTabelaHorizontal">
                    <table class="table table-bordered table-responsive">

                        <tr>
                            <td ng-repeat="imagem in imagensFiltradas = (imagens | filter:rolagemFilter | orderBy: order)"
                                ng-style="{ 'background-color': imagem.id == selectedImagem.id ? 'lightgray' : ''}"
                                ng-click="selectImagem(imagem)" ng-dblclick="histogramaPrincipal(imagem.nome)">
                                <img height="200" ng-src="{{ imagem.caminho }}" alt="{{ imagem.nome }}"/>
                                {{ imagem.distanciaatual }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
